<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The form for new client</title>
</head>
<body>
<h1>Регистрация нового клиента</h1>
<form method="post" th:action="@{/clients/new}">
    <label>
        ФИО:<br>
        <input type="text" name="name">
    </label><br>
    <label>
        Пол:<br>
        <select class="form-select" name="gender">
            <option th:value="true">мужской</option>
            <option th:value="false">женский</option>
        </select>
    </label>
    <button class="btn form-control">Сохранить</button>
    <a th:href="@{/clients}">
        Назад к списку
    </a>
</form>
</body>
</html>